#download-links
{
    margin-bottom: 50px;
}

#zip-download, #clone-download
{
    font-family: 'Elliot Sans-Light', sans-serif;
    padding: 30px;
    border-radius: 60px;
    background-color: #F2C641;
    color: white;
    font-size: 18px;
    margin: 15px;
}

#clone-download
{
    background-color: blue;
}

#download-links
{
    margin-top: 100px;
    width: 100%;
    text-align: center;
}
