@font-face
{
    font-family: 'CF';
    src: url('/../fonts/timeburnernormal.ttf') format('truetype');
}

@font-face
{
    font-family: 'CF-B';
    src: url('/../fonts/timeburnerbold.ttf') format('truetype');
}

@font-face
{
    font-family: 'SF';
    src: url('/../fonts/ElliotSans-Bold.ttf') format('truetype');
}

html, body
{
    margin: 0;
    padding: 0;
}

body
{

    background-color: darkslategray;
}

#nav
{
    z-index: 1;
    width: 100%;
    height: calc(2vh + 4vw);

    background-color: rgba(0, 0, 0, 0.5);
    /*
    background: transparent;
    background: -webkit-linear-gradient(180deg, black, transparent);
    background: -o-linear-gradient(180deg, black, transparent);
    background: -moz-linear-gradient(180deg, black, transparent);
    background: linear-gradient(180deg, black, transparent);
    */
}

.nav-item
{
    font-family: 'SF', sans-serif;
    font-size: 2vh;
    color: white;
    padding: 2vw;
}

.nav-item:hover
{
    text-decoration: none;
    color: lightgray;
}

.ni-left
{
    float: left;
}

.ni-right
{
    float: right;
}

#footer
{
    height: 150px;
    background-color: darkslategray;
    text-align: center;
}

#copyright
{
    padding-top: 25px;
    color: white;
}

.content-header
{
    margin-top: 25px;
    margin-left: 75px;
}

.content-main
{
    margin-left: 75px;
}

.code-sample
{
    margin-left: 75px;
    margin-right: 75px;
}

.page-content
{
    background-color: white;
    margin-top: 0px;
    padding-top: 40px;
    padding-bottom: 50px;
}

.section-header
{
    font-family: 'Elliot Sans', sans-serif;
    font-size: 40px;
    width: 100%;
    text-align: center;
}

/* Style all font awesome icons */
.fa
{
    padding: 15px;
    font-size: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover
{
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Twitter */
.fa-twitter
{
    background: #F2C641;
    color: white;
}

.fa-twitter:hover
{
    text-decoration: none;
    color: white;
}

/* Email */
.fa-envelope
{
    background: gray;
    color: white;
}

.fa-envelope:hover
{
    text-decoration: none;
    color: white;
}
